<div class="video-card">
    <div class="thumbnail-container" (click)="navigateToVideo()">
        <img [src]="base_image_url" alt="Video Thumbnail" class="thumbnail">
    </div>
    <div class="content">
        <div>
            <img class="uploader-avatar" [src]="profile_pic_url" alt="User Avatar" (click)="navigateToUser()">
        </div>
        <div class="info">
            <div class="title" (click)="navigateToVideo()">{{title}}</div>
            <div class="uploader-name" (click)="navigateToUser()">{{username }}</div>
        </div>
    </div>
</div>