<div class="video-card">
    <div class="thumbnail-container" [routerLink]="['/video', id]">
        <img [src]="thumbnailSrc" alt="Video Thumbnail" class="thumbnail">
    </div>
    <div class="content">
        <div>
            <img class="uploader-avatar" [src]="avatarSrc" alt="User Avatar">
            <!-- <img class="uploader-avatar" [src]="avatarSrc" alt="User Avatar" [routerLink]="['/user', username]"> -->
        </div>
        <div class="info">
            <div class="title" [routerLink]="['/video', id]">{{title}}</div>
            <div class="uploader-name">{{uploaderName}}</div>
            <!-- <div class="uploader-name" [routerLink]="['/user', username]">{{uploaderName}}</div> -->
        </div>
    </div>
</div>