<div class="video-card">
    <div class="thumbnail-container" (click)="navigateToVideo()">
        <img [src]="thumbnailSrc" alt="Video Thumbnail" class="thumbnail">
        <div class="timestamp">{{duration}}</div>
    </div>
    <div class="content">
        <div>
            <img class="uploader-avatar" [src]="avatarSrc" alt="Channel Avatar">
        </div>
        <div class="info">
            <div class="title" (click)="navigateToVideo()">{{title}}</div>
            <div class="uploader-name">{{uploaderName}}</div>
        </div>
    </div>
</div>