<div class="category-container">
  <div class="banner-container">
    <img class="banner-image" src="./assets/pexels-kseniachernaya-5806947.jpg" alt="Banner">
    <div class="banner-content">
      <h1>Tutorialbase</h1>
      <p>Nézz szembe a mindennapi problémáiddal és találj rá itt megoldást!</p>
    </div>
  </div>

  <div class="video-section">
    <h2 class="section-title">{{ category1Name }}</h2>
    <div class="video-container">
      <div class="video-row" #category1Row>
        <div *ngFor="let video of category1Videos" class="video-card-wrapper">
          <app-video-card [id]="video.guid" [title]="video.title" [username]="video.uploader"
            [base_image_url]="video.base_image_url" [profile_pic_url]="video.uploader_pic">
          </app-video-card>
        </div>
      </div>
    </div>
  </div>

  <div class="video-section">
    <h2 class="section-title">{{ category2Name }}</h2>
    <div class="video-container">
      <div class="video-row" #category2Row>
        <div *ngFor="let video of category2Videos" class="video-card-wrapper">
          <app-video-card [id]="video.guid" [title]="video.title" [username]="video.uploader"
            [base_image_url]="video.base_image_url" [profile_pic_url]="video.uploader_pic">
          </app-video-card>
        </div>
      </div>
    </div>
  </div>

  <div class="video-section">
    <h2 class="section-title">{{ category3Name }}</h2>
    <div class="video-container">
      <div class="video-row" #category3Row>
        <div *ngFor="let video of category3Videos" class="video-card-wrapper">
          <app-video-card [id]="video.guid" [title]="video.title" [username]="video.uploader"
            [base_image_url]="video.base_image_url" [profile_pic_url]="video.uploader_pic">
          </app-video-card>
        </div>
      </div>
    </div>
  </div>
</div>