<div class="upload-container">
    <div class="outer-border">
        <div class="content-wrapper">
            <div class="thumbnail-container">
                <div class="thumbnail-preview" [ngClass]="{'no-image': !selectedImage}">
                    <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Thumbnail">
                </div>
                <div class="buttons-area">
                    <label for="image-upload" class="select-image-btn">Kép kiválasztása</label>
                    <input type="file" id="image-upload" accept=".jpg, .png" (change)="onImageSelected($event)">
                    <label for="video-upload" class="select-video-btn">Videó kiválasztása</label>
                    <input type="file" id="video-upload" accept=".mp4" (change)="onVideoSelected($event)">
                </div>

            </div>

            <div class="form-section">
                <div class="form-group">
                    <input type="text" placeholder="Írd be a címet" class="form-control" [(ngModel)]="title"
                        maxlength="100">
                </div>

                <div class="form-group">
                    <textarea placeholder="Add meg a leírást" class="form-control" [(ngModel)]="description"
                        maxlength="600"></textarea>
                </div>
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="selectedCategory"
                        (ngModelChange)="onCategoryChange(selectedCategory)">
                        <option value="" disabled selected>Válassz kategóriát</option>
                        <option *ngFor="let cat of categories" [value]="cat.guid">{{ cat.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="selectedSubcategory" [disabled]="isSubcategoryDisabled"
                        (ngModelChange)="subcategory = $event">
                        <option [ngValue]="''" disabled>Válassz kategóriát</option>
                        <option *ngFor="let sub of subcategories" [value]="sub.guid">{{ sub.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="tag1,tag2,tag3,tag4,tag5" class="form-control" [(ngModel)]="tags"
                        [pattern]="'^([a-zA-Z0-9]+,){0,4}[a-zA-Z0-9]+$'" #tagsInput="ngModel" maxlength="50">
                </div>
                <div *ngIf="tagsInput.invalid && tagsInput.touched" class="error-message">
                    <p>A tageket vesszővel kell elválasztani, és legfeljebb 5 tagot lehet megadni. Csak betűk és számok
                        engedélyezettek.</p>
                </div>

                <button class="upload-btn" [disabled]="!isFormValid() || uploading"
                    (click)="onUpload()">Feltöltés</button>

                <div class="progress-bar-wrapper" *ngIf="uploading">
                    <div class="progress-bar" [style.width.%]="uploadProgress"></div>
                    <span class="progress-text">{{ uploadProgress }}%</span>
                </div>
            </div>
        </div>
    </div>
</div>