<div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-content">
        <button class="close-button" (click)="closeModal()">&times;</button>
        <h2>Bejelentkezés</h2>
        <form [formGroup]="loginForm" (ngSubmit)="loginAction()">

            <div class="form-group">
                <label for="username">
                    <i class="fas fa-user"></i>
                    Felhasználónév
                </label>
                <input type="text" id="username" formControlName="username" placeholder="Felhasználónév"
                    [class.invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" />
                <span class="error" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                    A felhasználónév megadása kötelező
                </span>
            </div>

            <div class="form-group">
                <label for="password">
                    <i class="fas fa-lock"></i>
                    Jelszó
                </label>
                <div class="password-container">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                        placeholder="Jelszó"
                        [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" />
                    <button type="button" class="toggle-password-inside" (click)="togglePassword()">
                        <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </button>
                </div>
                <span class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    A jelszó megadása kötelező
                </span>
            </div>

            <!-- Backend validation errors -->
            <div class="error-message" *ngIf="validationErrors">
                <i class="fas fa-exclamation-circle"></i>
                {{ validationErrors }}
            </div>

            <button type="submit" class="login-button" [disabled]="!loginForm.valid || isSubmitting">
                Bejelentkezés
            </button>
        </form>

        <div class="links">
            <div class="link-group">
                <a (click)="switchToSignup()">Új vagy a TutorialBase-n? Regisztrálj</a>
            </div>
        </div>
    </div>
</div>