<div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-content">
        <h2>Sign Up</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="username" name="username" placeholder="Felhasználónév" required>
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="password" name="password" placeholder="Jelszó" required>
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Jelszó újra"
                    required>
            </div>
            <button type="submit" class="signup-button">Regisztráció</button>
        </form>
        <div class="login-link">
            <a href="/login">Már van fiókod? Jelentkezz be</a>
        </div>
    </div>
</div>
