<div class="video-history-card">
    <button class="close-button">×</button>
    <img class="video-thumbnail" src="./assets/math_test.jpg"
        alt="Video thumbnail" />

    <div class="video-details">
        <div class="video-info">
            <h1 class="video-title">Videó cím</h1>
            <p class="uploader-name">Feltöltő neve</p>
            
        </div>

        <div class="description-container">
            <img class="avatar" src="./assets/profilepic.jpg" alt="User avatar" />
            <div class="captions-text">
                <p class="upload-date">Feltöltés dátuma: 2000.01.01.</p>
                <!-- <p class="upload-date">Feltöltés dátuma: {{video.uploadDate}}</p> -->
                <p class="description-text">
                    Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás Leírás
                </p>
                <!-- <p class="description-text"">
                    {{ video.description || 'Nincs leírás' }}
                </p> -->
            </div>
        </div>
    </div>
</div>