<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/phpmyadmin/test/classes" />
        <option value="$PROJECT_DIR$/phpmyadmin/test/selenium" />
      </list>
    </option>
  </component>
</project>