<nav class="navbar">
    <div class="nav-left">
        <div class="hamburger" #hamburgerButton (click)="toggleHamburgerMenu($event)">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </div>
        <a href="/" class="logo-link">
            <div class="logo">TutorialBase</div>
        </a>
    </div>

    <div class="nav-middle">
        <div class="search-field">
            <input type="text" placeholder="search" class="search-field-input">
            <div class="search-field-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <circle cx="11" cy="11" r="8" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                </svg>
            </div>
        </div>

        <div class="star">
            <img src="/assets/star.png" class="star-img">
        </div>
    </div>

    <div class="profile">
        <img src="assets/profilepic.jpg" alt="profile picture" class="profile-pic" #dropdownButton
            (click)="toggleDropdown($event)" />
        <div *ngIf="dropdownVisible" class="dropdown-menu" #dropdownMenu>
            <ul>
                <a [routerLink]="['/profile']" (click)="close()">
                    <li>Profil</li>
                </a>
                <a [routerLink]="['/upload']" (click)="close()">
                    <li>Videó feltöltés</li>
                </a>
                <a [routerLink]="['/history']" (click)="close()">
                    <li>Előzmények</li>
                </a>
                <a [routerLink]="['/settings']" (click)="close()">
                    <li>Beállítások</li>
                </a>
                <div *ngIf="!isLoggedIn">
                    <a (click)="onLoginClick($event)">
                        <li>Bejelentkezés</li>
                    </a>
                </div>
                <div *ngIf="isLoggedIn">
                    <a (click)="onLogoutClick()">
                        <li>Kijelentkezés</li>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div *ngIf="hamburgerMenuVisible" class="hamburger-menu" #hamburgerMenu>
    <ul>
        <a href="/category1">
            <li>Kategória1</li>
        </a>
        <a href="/category2">
            <li>Kategória2</li>
        </a>
        <a href="/category3">
            <li>Kategória3</li>
        </a>
        <a href="/category4">
            <li>Kategória4</li>
        </a>
    </ul>
</div>