<nav class="navbar">
    <div class="nav-left">
        <div class="category-button" #categoryButton (click)="toggleCategoryMenu($event)">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </div>
        <a href="/" class="logo-link">
            <div class="logo">TutorialBase</div>
        </a>
    </div>

    <div class="nav-middle">
        <div class="search-field">
            <input type="text" placeholder="Keresés" class="search-field-input" [(ngModel)]="searchQuery"
                (keyup.enter)="onSearch()" (blur)="onInputBlur()">
            <div class="search-field-icon" (click)="onSearch()" (mousedown)="onIconMouseDown()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <circle cx="11" cy="11" r="8" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                </svg>
            </div>
        </div>
    </div>

    <div class="profile">
        <!-- Show profile picture and profile menu when logged in -->
        <ng-container *ngIf="isLoggedIn; else loginButton">
            <img [src]="profilePicture" alt="profilkép" class="profile-pic" #profileButton
                (click)="toggleProfileMenu($event)" />
            <div *ngIf="profileMenuVisible" class="profile-menu" #profileMenu>
                <ul>
                    <a [routerLink]="['/user', username]" (click)="close()">
                        <li>Profil</li>
                    </a>
                    <a [routerLink]="['/upload']" (click)="close()">
                        <li>Videó feltöltés</li>
                    </a>
                    <a [routerLink]="['/history']" (click)="close()">
                        <li>Előzmények</li>
                    </a>
                    <a [routerLink]="['/settings']" (click)="close()">
                        <li>Beállítások</li>
                    </a>
                    <a (click)="onLogoutClick()">
                        <li>Kijelentkezés</li>
                    </a>
                </ul>
            </div>
        </ng-container>

        <!-- Login button when not logged in -->
        <ng-template #loginButton>
            <button class="login-button" (click)="onLoginClick($event)">Bejelentkezés</button>
        </ng-template>
    </div>
</nav>

<div *ngIf="categoryMenuVisible" class="category-menu" #categoryMenu>
    <ul>
        <li *ngFor="let category of categories || []">
            <a [routerLink]="['/category', category.guid]" (click)="close()">
                {{ category.name }}
            </a>
        </li>
    </ul>
</div>